{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>51装修记账-我的装修账单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link href="{% static "jizhang/bootstrap-3.3.0/css/bootstrap.min.css" %}" rel="stylesheet"/>
	<!--<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

</head>
<body>
	<script src="{% static "jizhang/jquery/jquery-3.1.1.min.js"%}"></script>
	<script src="{% static "jizhang/bootstrap-3.3.0/js/bootstrap.min.js"%}"></script>
	<!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-6 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<h3>
							51 装修App.
						</h3>
					</div>
					<div class="col-md-4 column">
						<img alt="140x140" src="v3/default3.jpg" />
					</div>
					<div class="col-md-4 column">
					</div>
				</div>
				<h3>
					h3. 这是一套可视化布局系统.
				</h3>
				<p class="text-left lead">
					 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
				</p>
			</div>
			<div class="col-md-6 column">
				<img alt="140x140" src="v3/default3.jpg" />
			</div>
		</div>
	</div>
</body>
</html>